.contact{
  padding:120px 8%;
  background:#0f172a;
}

.contact-container{
  max-width:1200px;
  margin:auto;

  display:grid;
  grid-template-columns:1fr 1fr;
  gap:50px;
}

.contact-info{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.contact-card{
  background:rgba(255,255,255,.06);
  border:1px solid rgba(255,255,255,.1);
  backdrop-filter:blur(20px);

  border-radius:25px;
  padding:25px;

  color:white;
}

.contact-card svg{
  font-size:28px;
  color:#6366f1;
  margin-bottom:10px;
}

.contact-card h4{
  margin-bottom:8px;
}

.contact-card p{
  color:#94a3b8;
}

.contact-social{
  display:flex;
  gap:20px;
  margin-top:20px;
}

.contact-social a{
  width:55px;
  height:55px;

  display:flex;
  justify-content:center;
  align-items:center;

  border-radius:50%;

  background:#6366f1;
  color:white;

  font-size:22px;

  transition:.3s;
}

.contact-social a:hover{
  transform:translateY(-6px);
}

.contact-form{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.contact-form input,
.contact-form textarea{

  background:rgba(255,255,255,.06);

  border:1px solid rgba(255,255,255,.1);

  border-radius:20px;

  padding:18px;

  color:white;

  outline:none;
}

.contact-form button{

  padding:18px;

  border:none;

  border-radius:20px;

  background:#6366f1;

  color:white;

  font-size:16px;

  font-weight:600;

  cursor:pointer;

  transition:.3s;
}

.contact-form button:hover{
  transform:translateY(-5px);
}

@media(max-width:768px){

  .contact-container{
    grid-template-columns:1fr;
  }

}